// stylelint-disable at-rule-no-vendor-prefix, declaration-no-important, selector-no-qualifying-type, property-no-vendor-prefix

// Reboot
//
// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.
//
// Normalize is licensed MIT. https://github.com/necolas/normalize.css


// Document
//
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Shim for IE11
main {
  display: block;
}

html {
  position: relative;
  font-size: font-size($type_base_size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Body
//
// 1. Remove the margin in all browsers.
// 2. Set an explicit initial text-align value so that we can later use
//    the `inherit` value on things like `<th>` elements.
// 3. As a best practice, apply a default `background-color`.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Change the default tap highlight to be completely transparent in iOS.
body {
  margin: 0; // 1
  @include bodyFontStack;
  line-height: $line-height-base;
  color: $color_page_content_text;
  text-align: left; // 2
  background-color: $color_background; // 3
  -webkit-text-size-adjust: 100%; // 4
  -webkit-tap-highlight-color: rgba($black, 0); // 5
}

// Future-proof rule: in browsers that support :focus-visible, suppress the focus outline
// on elements that programmatically receive focus but wouldn't normally show a visible
// focus outline. In general, this would mean that the outline is only applied if the
// interaction that led to the element receiving programmatic focus was a keyboard interaction,
// or the browser has somehow determined that the user is primarily a keyboard user and/or
// wants focus outlines to always be presented.
//
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
// and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}


// Content grouping
//
// 1. Reset Firefox's gray color
// 2. Set correct height and prevent the `size` attribute to make the `hr` look like an input field
//    See https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_hr_size

hr {
  margin: $hr-margin-y 0;
  color: inherit; // 1
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

hr:not([size]) {
  height: 1px; // 2
}


//
// Typography
//

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
%heading {
  @include headerFontStack;
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  line-height: $headings-line-height;
  color: $color_page_headings;
}

h1 {
  @extend %heading;
  font-size: emBase($type_header_base_size);
}

h2 {
  @extend %heading;
  font-size: emBase(floor($type_header_base_size * 0.67));
}

h3 {
  @extend %heading;
  font-size: emBase(floor($type_header_base_size * 0.5));
}

h4 {
  @extend %heading;
  font-size: emBase(floor($type_header_base_size * 0.35));
}

h5 {
  @extend %heading;
  font-size: emBase(floor($type_header_base_size * 0.3));
}

h6 {
  @extend %heading;
  font-size: emBase(floor($type_header_base_size * 0.25));
}


// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

// Abbreviations
//
// 1. Duplicate behavior to the data-* attribute for our tooltip plugin
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
// 4. Remove the bottom border in Firefox 39-.
// 5. Prevent the text-decoration to be skipped.

abbr[title],
abbr[data-original-title] { // 1
  text-decoration: underline; // 2
  text-decoration: underline dotted; // 2
  cursor: help; // 3
  border-bottom: 0; // 4
  text-decoration-skip-ink: none; // 5
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $font-weight-bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0; // Undo browser default
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: $font-weight-bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

small {
  font-size: $small-font-size; // Add the correct font size in all browsers
}

//
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
//

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }


//
// Links
//

a {
  color: $color_buttons;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.

  &:hover {
    color: adaptive-color($color_background, $color_buttons, 20%);
    text-decoration: $link-hover-decoration;
  }

  &.link-initial {
    text-decoration: none;
    color: initial;
  }
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([tabindex]) {
  &,
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }
}


//
// Code
//

pre,
code,
kbd,
samp {
  font-family: $font-family-base;
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

pre {
  // Remove browser default top margin
  margin-top: 0;
  // Reset browser default of `1em` to use `rem`s
  margin-bottom: 1rem;
  // Don't allow content to break outside
  overflow: auto;
}


//
// Figures
//

figure {
  // Apply a consistent margin strategy (matches our type styles).
  margin: 0 0 1rem;
}


//
// Images and content
//

img,
embed,
object,
video {
  height: auto;
  max-width: 100%;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

svg {
  // Workaround for the SVG overflow bug in IE10/11 is still required.
  // See https://github.com/twbs/bootstrap/issues/26878
  overflow: hidden;
  vertical-align: middle;
}


//
// Tables
//

table {
  border-collapse: collapse; // Prevent double borders
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: $gray-600;
  text-align: left;
  caption-side: bottom;
}

th {
  // Matches default `<td>` alignment by inheriting from the `<body>`, or the
  // closest parent with a set `text-align`.
  text-align: inherit;
}


//
// Forms
//

label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  margin-bottom: .5rem;
}

// Remove the default `border-radius` that macOS Chrome adds.
//
// Details at https://github.com/twbs/bootstrap/issues/24093
button {
  // stylelint-disable-next-line property-blacklist
  border-radius: 0;
  background: transparent;
  border: none;
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: $font-family-base;
  font-size: inherit;
  line-height: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

button,
input {
  overflow: visible; // Show the overflow in Edge
}

select,input {
  &:focus {
    outline: none;
  }
}

input,
textarea {
  border: 1px solid $gray-100;
  font-size: 12px;
  padding-left: 16px;
  min-height: 40px;
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder { /* Edge */
  color: $gray-200;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $gray-200;
}

::placeholder {
  color: $gray-200;
}

button,
select {
  text-transform: none; // Remove the inheritance of text transform in Firefox
}

// Remove the inheritance of word-wrap in Safari.
//
// Details at https://github.com/twbs/bootstrap/issues/24990
select {
  word-wrap: normal;
}


// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
}

// Opinionated: add "hand" cursor to non-disabled button elements.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; // 1. Add the correct box sizing in IE 10-
  padding: 0; // 2. Remove the padding in IE 10-
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  // Remove the default appearance of temporal inputs to avoid a Mobile Safari
  // bug where setting a custom line-height prevents text from being vertically
  // centered within the input.
  // See https://bugs.webkit.org/show_bug.cgi?id=139848
  // and https://github.com/twbs/bootstrap/issues/11266
  -webkit-appearance: listbox;
}

textarea {
  padding-top: 8px;
  overflow: auto; // Remove the default vertical scrollbar in IE.
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

fieldset {
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // So we reset that to ensure fieldsets behave more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359
  // and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
  min-width: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  padding: 0;
  margin: 0;
  border: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
legend {
  display: block;
  width: 100%;
  max-width: 100%; // 1
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit; // 2
  white-space: normal; // 1
}

progress {
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  // This overrides the extra rounded corners on search inputs in iOS so that our
  // `.form-control` class can properly style them. Note that this cannot simply
  // be added to `.form-control` as it's not specific enough. For details, see
  // https://github.com/twbs/bootstrap/issues/11586.
  outline-offset: -2px; // 2. Correct the outline style in Safari.
  -webkit-appearance: none;
}

//
// Remove the inner padding in Chrome and Safari on macOS.
//

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
//

::-webkit-file-upload-button {
  font: inherit; // 2
  -webkit-appearance: button; // 1
}

//
// Correct element displays
//

output {
  display: inline-block;
}

summary {
  display: list-item; // Add the correct display in all browsers
  cursor: pointer;
}

template {
  display: none; // Add the correct display in IE
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] {
  display: none !important;
}

//Set default next/prev buttons for carousel
.VueCarousel {
  .VueCarousel-navigation-button {
    background-color: transparent !important;
    padding: 0 !important;
    width: 32px;
    height: 56px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &:hover {
      opacity: 0.5 !important;
    }

    i {
      position: relative;
      z-index: 2;
    }

    svg {
      position: relative;
      width: 32px;
      height: 32px;
    }

    &.VueCarousel-navigation-prev {
      left: 32px !important;
      &:before {
        right: 0;
      }
      svg {
        right: 2px;
      }
    }

    &.VueCarousel-navigation-next {
      right: 32px !important;
      &:before {
        left: 0;
      }
      svg {
        left: 2px;
      }
    }

    &.VueCarousel-navigation--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &.roller-pagination {
    .VueCarousel-dot-container {
      .VueCarousel-dot {
        padding: 5px !important;
        button {
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

//Full width height image on slider
.roller-slider {
  .VueCarousel {
    .VueCarousel-slide {
      padding-top: 56.25%;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: cover;
      }
    }
  }
}

//full width carousel
.container-fluid {
  .VueCarousel {
    margin: 0 -15px;
  }
}

table.table-bordered {
  width: 100%;
  margin-bottom: $spacer;
  background-color: transparent; // Reset for nesting within parents with `background-color`.
  border: 1px solid $gray-100;
  th,
  td {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid $gray-100;
  }

  thead {
    td {
      border-bottom-width: 2px;
    }
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $gray-100;
  }

  tbody + tbody {
    border-top: 2px solid $gray-100;
  }
}

.sb-lazy:not([src]) {
  padding-top: 100%;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: adaptive-color($color_background, $gray-50, 10%);
  }
}

.sb-lazy:not(.progressive)[lazy=loading] {
  background-color: adaptive-color($color_background, $gray-50, 10%);
}
.sb-lazy:not(.progressive)[lazy=loaded] {
  animation: lazy-fade-in both 1s;
}
.sb-lazy[lazy=error] {
  animation: lazy-fade-in both 1s;
}
