.contact-us-page {
  max-width: 750px;
  margin: 0 auto;
}
.page-content {
  .contact-form {
    &__name {
      @include res(sm) {
        padding-right: 6px;
      }
    }
    &__email {
      @include res(sm) {
        padding-left: 6px;
      }
    }
  }
  &__alert-success {
    background: #e0f4d8;
    color: #33631d;
  }
  &__alert-error {
    background: #fff6f6;
    color: #d02e2e;
  }
}
