.pagination {
  font-size: 1rem;
  margin: -0.25rem;

  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  .pagination-next,
  .pagination-previous {
    &.is-disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  &.is-current {
    pointer-events: none;
    cursor: not-allowed;
  }

  .pagination-list {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .pagination-previous,
  .pagination-next,
  .pagination-link,
  .pagination-ellipsis {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    position: relative;
    vertical-align: top;
    font-size: 0.75em;
    line-height: 1.5rem;
    font-weight: 500;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    height: 2.5rem;
    min-width: 2.5rem;
    justify-content: center;
    margin: 0.25rem;
    text-align: center;
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      outline: none;
    }
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
    }
  }

  .pagination-previous,
  .pagination-next,
  .pagination-link,
  .pagination-ellipsis {
    color: $gray-1000;
    background-color: $white;
    border: 1px solid $gray-1200;
    &:hover:not([disabled]),
    &:active:not([disabled]) {
      background-color: $gray-1000;
      color: $white;

      .pagination-icon {
        fill: $white;
      }
    }
    &:focus {
      border-color: $gray-200;
    }
    &[disabled] {
      background-color: $gray-100;
      border-color: $gray-100;
      box-shadow: none;
      color: $gray-600;
      opacity: 0.5;
    }
  }

  .pagination-previous,
  .pagination-next {
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
  }

  .pagination-link {
    &.is-current:not(:hover) {
      background-color: $gray-1000;
      color: $white;
    }
  }

  .pagination-ellipsis {
    color: $gray-200;
    pointer-events: none;
  }

  .pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .pagination-previous {
    order: 1;
  }
  .pagination-list {
    order: 2;
  }
  .pagination-next {
    order: 3;
  }
  .pagination-icon {
    fill: $gray-1000;
    &--right {
      transform: rotate(180deg);
    }
  }
}
