@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {

    transform: rotate(359deg);
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0)
  }
  to {
    opacity: 1;
    transform: none
  }
}

.fade-in-up-enter-active {
  animation: fadeInUp 1s both;
}

@keyframes payment-loading {
  from {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  to {
    left: 100%;
    width: 0;
  }
}

@keyframes loading-spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes lazy-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -5px, 0);
  }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
